*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.navbar{
  height: 3rem;
  box-shadow: 1px 1px 2px lightblue;
  display: flex;
  align-items: center;
  position:sticky;
  top: 0;
  background-color: white;
}

.navbar2 {
  height: 3rem;
  box-shadow: 1px 1px 2px lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
}



.navbar>h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color:blue;
}
.navbar2>h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color: blue;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr;
}

.grid-container2{
  max-width: 50rem;
  height: 46vh;
  background-image:linear-gradient(to right, rgb(7, 109, 243), rgb(251, 241, 241));
    /* background-image: linear-gradient(to right, rgb(250, 76, 76), pink); */
  background-size: 200% 200%;
  animation: anim 3s infinite ease-in-out;
  margin: auto;
  margin-top: 2rem;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-container3 {
  max-width: 38rem;
  width: 95vw;
  padding-bottom: 1rem;
  margin-bottom: .5rem;
  /* background-image: linear-gradient(to right, rgb(233, 239, 247), rgb(251, 241, 241)); */
  background-color: #e4e0f0;
  /* background-color: pink; */
  background-size: 200% 200%;
  animation: anim 3s infinite ease-in-out;
  margin: auto;
  margin-top: 2rem;
  border-radius: 2rem;
}

@keyframes anim{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.subgrid1>h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.subgrid1>p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 1rem;
    margin-top: 1rem;
    max-width: 20rem;
}

.covid-img{
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50% 50%;
  animation: covid 3s infinite ease-in-out;
  
}

.subgrid2>.covid-img{
  margin-left: 2rem;
}

@keyframes covid {
  0% {
     margin-top: .5rem;
  }
  50% {

    margin-top: 1.5rem;
  }
  100% {
    margin-top: .5rem;
  }
}


.test-btn{
  margin-top: 1rem;
  margin-left: 1rem;
  padding: .5rem 1rem;
  border-radius: .3rem;
  border:none;
  background-color: rgb(79, 79, 243);
  color:white;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font-size:.8rem;
  text-decoration: none;
}

.test-btn:hover{
  animation: color 3s infinite ease-in-out;
  cursor: pointer;
}

@keyframes color {
  0% {
    background-color: rgb(79, 79, 243);}
  50% {
      background-color: rgb(105, 244, 126);}
  100%{
        background-color:rgb(79, 79, 243)
}}

.check-btn{
  margin-left:2rem;
}


.search{
   margin: auto;
   margin-top: .5rem;
}

.stat-container{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 3%;
  row-gap: 1rem;
  margin-left: 1rem;
}

.stat-item{
  background-color:white;
  height: 20vh;
  border-radius: .5rem;
  margin-top: 1rem;
  font-size: larger;
  font-family: Verdana, sans-serif;
  display:grid;
  place-items: center;

}



.input-bar{
  font-size: 1rem;
  width: 60%;
  border: 2px solid blue;
  height: 2rem;
  border-radius: .7rem;
  padding-left: 1rem;
  animation: search 3s infinite ease-in-out;;
}

@keyframes search{
  0%{
    border: 2px solid rgb(151, 151, 240);
  }
  50%{
    border: 2px solid blue;
  }
  100%{
    border: 2px solid rgb(151, 151, 240);}
}



.input-search{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.submit-btn{
  display: flex;
  justify-content: center;
  margin-top: .7rem;
}

.submit-btn button{
  width:5rem;
  height:2rem;
  border-radius:.5rem;
  font-size: medium;
  color: white;
  background-color: black;

}

.submit-btn button:hover{
  color: black;
  background-color: white;
  cursor: pointer;
}
















/* quiz css */


.single-question{
  width: 90vw;
  max-width: 35rem;
  height: 60vh;
  margin: auto;
  background-color: pink;
  margin-top: 2rem;
  border-radius: 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.hello{
  margin-top: 1rem;
}

.next-btn1{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.no{
  border: none;
  width: 30vw;
  max-width: 10rem;
  font-size:1rem;
  border-radius: .5rem;
  padding: .3rem;
}

.no:hover{
  cursor: pointer;
}

.no:focus{
  background-color: rgb(245, 78, 78);
  color: white;
}

.test-heading{
  display: flex;
  justify-content: center;
  font-size: larger;
  margin-top: 1.3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.single-question h4{

  font-size: 2rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem; 
}


.single-question1 {
  width: 90vw;
  max-width: 35rem;
  height: 60vh;
  margin: auto;
  background-image: linear-gradient(to right ,rgb(240, 80, 80) ,pink);
  animation: anim 3s infinite ease-in-out;
  margin-top: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-question1 h4 {

  font-size: 2rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}